/* style.css */
body{
  background: beige;
  color: grey;
  font-size: 30px;
  font-family: 'Oswald', sans-serif;
}
h1{
  font-family: Courier;
  color: black;
  font-weight: lighter;
  font-size: 23px;
  text-align : center;
}
h2 {
  font-family: 'Oswald', sans-serif;
  color: brown;
  font-weight: lighter;
  font-size: 15px;
}
a {
  color: black;
  font-size: 15px;
  
}

a:hover {
  text-decoration: none;
  color: purple;
  
}

#baseline h1{
color: black;
font-family: Courier;
}

header {
	text-align: center
}

li{
	text-align: left;
}


